/* ======================================== */
  /* home */
/* ======================================== */
.p-main_about_link {
  font-weight: normal;
  color: $color-primary;
  text-decoration: dashed;
}
/* ======================================== */
  /* home */
/* ======================================== */
