/* ======================================== */
  /* colors */
/* ======================================== */
$base-text-color: #092334;
$base-background: #FFFFFF;

$white-ratio26: #8798AD;
$white-ratio12: #F3F4F6;
$white-ratio10: #F8F8F8;
$white-ratio0: #F9FAFF;

$color-primary: #3FA9AC;
/* ======================================== */
  /* colors */
/* ======================================== */

/* ======================================== */
  /* font */
/* ======================================== */
$font-init: -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif;
$rubik: 'Rubik', sans-serif;
$asap: 'Asap', sans-serif;

$base-font-size: 16px;
$base-line-height: 1.6;
$base-letter-spacing: 0.002;
/* ======================================== */
  /* font */
/* ======================================== */

/* ======================================== */
  /* content */
/* ======================================== */
$max-width: 1200px;
$easeInOutQuart: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
/* ======================================== */
  /* content */
/* ======================================== */
